{% include "header.html" %}

<!-- Home -->
<header class="masthead d-flex align-items-center" xmlns="">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row">
            <div class="col-md-6">
                <img class="logo-img" src="static/assets/logo.png" alt="TriBapLogo">
            </div>
            <div class="col-md-6">
                <h1 class="mb-1" style="color:#ADC22D">TRI</h1>
                <h1 class="mb-1">BAP</h1>
            </div>
        </div>
        <h3 class="mb-5" style="color:#ADC22D"><em>Homemade Riceballs</em></h3>
        <a class="btn btn-primary btn-xl" href="#products">Products</a>
    </div>
</header>
<!-- Products-->
<section class="content-section text-black text-center" id="products">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h2 class="mb-5">We Offer</h2>
        </div>
        <div class="row gx-4 gx-lg-5 ">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-bowl-rice"></i></span>
                <h4><strong>Spam-Kimchi</strong></h4>
                <p class="mb-5">A combination of spam and kimchi with seaweeds toppings</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-fish"></i></span>
                <h4><strong>Tuna-Mayo</strong></h4>
                <p class="mb-5">A combination of canned tuna and plain mayonnaise with Korean pickled
                    radish</p>
            </div>
            <div class="col-lg-4 mb-5 mb-md-5">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                <h4><strong>Beef Veggie</strong></h4>
                <p class="mb-0">A combination of marinated ground beef and vegetables
                </p>
            </div>
            <div>
                <a class="btn btn-dark btn-xl" href="#reviews">Reviews</a>
            </div>
        </div>
    </div>
</section>
<!-- Reviews -->
<section class="content-section bg-dark text-white text-center" id="reviews">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h2 class="mb-5" style="color:#ADC22D">Reviews</h2>
        </div>
    </div>

    <div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel" data-bs-pause="hover">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <h2 class="testimonial-text">TriBap. TriBap. TriBap.</h2>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <img class="service-icon-review rounded-circle ms-auto" src="static/assets/review/matic.jpeg">
                    </div>
                    <div class="column col-md-6 me-auto">
                        <div class="text-start text-review">
                            <em>⭐⭐⭐⭐⭐</em>
                        </div>
                        <div class="text-start text-review">
                            <em>Patrick Matic</em>
                        </div>
                    </div>
                </div>
            </div>
            {% for review in reviews %}
            <div class="carousel-item container-fluid">
                <h2 class="testimonial-text">{{review.review}}</h2>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <img class="service-icon-review rounded-circle ms-auto" src={{review.img_url}}>
                    </div>
                    <div class="column col-md-6 me-auto">
                        <div class="text-start text-review">
                            <em>{{review.rating}}</em>
                        </div>
                        <div class="text-start text-review">
                            <em>{{review.name}}</em>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>

    <div>
        <a class="btn btn-primary btn-xl" href="#order">Order Now!</a>
    </div>
</section>
<!-- Promo-->
<section class="content-section01 bg-light" id="promo">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">PROMO</h2>
        </div>
        <section class="colored-section" id="promotion">

            <div id="carouselExampleControls01" class="carousel carousel-dark slide" data-bs-ride="carousel"
                 data-bs-pause="hover">
                <div class="carousel-inner">
                    <div class="carousel-item active container-fluid">
                        <img class="promo-img" src="static/assets/promo/active.jpg" alt="">
                        <em></em>
                    </div>
                    {% for number in range(0, n) %}
                    <div class="carousel-item container-fluid">
                        <img class="promo-img" src="static/assets/promo/{{ number }}.jpg" alt="">
                        <em></em>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls01"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls01"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </section>
    </div>
</section>
<!-- Call to Action-->
<section class="content-section text-white" id="order">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-4">ORDER NOW AT...</h1>
        <a class="btn order2 btn-light btn-xl me-4" href="https://www.foodpanda.ph/">FOODPANDA</a>
        <a class="btn order1 btn-dark btn-xl me-4" href="https://food.grab.com/ph">GRABFOOD</a>
    </div>
</section>

<!-- Map-->
<!--<div class="map" id="contact">-->
<!--    <embed src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4589.746112124407!2d121.04431573016467!3d14.684233768756336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb94d79ae4a8707e8!2sSecured%20Compound!5e0!3m2!1sen!2sph!4v1648223834915!5m2!1sen!2sph"-->
<!--            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"-->
<!--            referrerpolicy="no-referrer-when-downgrade">-->
<!--    </div>-->

{% include "footer.html" %}